* {
  cursor: default;
  box-sizing: border-box;
}

.form-select--from,
.movement--row:hover,
.accounts-row:hover {
  background-color: #eee;
  cursor: pointer;
}

option[disabled] {
  background-color: #eee;
}

/* OverviewView */
.overview--container {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.overview__balance {
  color: rgba(0, 160, 0, 0.75);
}

/* MovementView */
.movement--container {
  height: 600px;
}

.movement--row {
  height: 10%;
}

.movement-category {
  color: white;
  padding: 2px 0;
  border-radius: 12px;
  max-height: 1.75rem;
  overflow: hidden;
  margin: auto;
  width: 150px;
}

.movement-category--expense {
  background-color: rgba(255, 0, 0, 0.75);
}

.movement-category--income {
  background-color: rgba(0, 160, 0, 0.75);
}

.movement-category--transfer {
  background-color: rgba(101, 59, 255, 0.75);
}

/* Accounts View */
.accounts-acc--container {
  position: relative;
}
.accounts-acc--container:hover .accounts-btn--delete {
  display: inline;
}

.accounts-btn--delete {
  position: absolute;
  width: 32px;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  display: none;
}

.account--name__container {
  display: flex;
  justify-content: space-between;
}

.account--name__container p {
  margin: 0;
}

.account--name {
  /* margin: 0; */
  overflow: hidden;
}

.account--balance {
  /* margin: 0; */
  color: rgba(0, 160, 0, 0.75);
}

.account-container {
  background: white;
  max-width: 500px;

  align-items: center;
}

.progress-container {
  position: relative;
  width: 100%;
}

.progress-box span {
  font-weight: bold;
  font-size: 8px;
  font-family: sans-serif;
  color: black;
}

.progress-box .goal {
  font-weight: bold;
  font-size: 0.5rem;
  margin: 0;
  text-align: end;
}

.skill-bar {
  width: 100%;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.skill-per {
  height: 6px;
  background-color: green;
  border-radius: 6px;
  position: relative;
}

/* modalView */
#addTransactionModal .row {
  text-align: center;
}
.modal-checkbox--container {
  text-align: center;
  display: inline-block;
  padding: 0;
}

.modal-transaction--legend {
  font-size: 16px;
  background-color: white;
  font-weight: bold;
}

.modal-checkbox--input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.modal-checkbox--label {
  display: inline-block;
  padding: 10px;
}

.modal-checkbox--label:hover {
  cursor: pointer;
}

.modal-checkbox--input:checked ~ .modal-checkbox--label {
  border: 1px solid rgba(73, 160, 252, 0.75);
  background-color: rgba(73, 160, 252, 0.5);
}


/* Pagination */
.pagination-container{
  background-color: #ccc;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}


.pagination-info{
  margin: 0.5rem 1rem 0;
}

.pagination-arrow{
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: #eee;
  border: 1px solid #9c9c9c;
  border-radius: 50%;
  position: relative;
}

.pagination-arrow__icon{
  cursor: pointer;
  color: #9c9c9c;
}

.datepicker-container{
  width: 100%;
  display: flex;
  /* background-color: #ccc; */
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.datepicker-input__container{
  display: flex;
  position: relative;
}

.datepicker-radios{
  width: 0;
  height: 0;
  visibility: hidden;
}

.datepicker-label{
  font-family: sans-serif;
  cursor: pointer;
  padding: 0 1rem;
  position: relative;   
}

.datepicker-radios:checked + .datepicker-label{
  font-weight: bold;
}

.datepicker-radios:checked + .datepicker-label::before{
  content: '';
  display: inline-block;

  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  background-color: #ccc;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.datepicker-month__label:hover{
  font-weight: bold;
}





.hidden{
  visibility: hidden;
}